body {
    background-image: url("pic/bg-courses.png");
    background-position-y: 15%;
    background-repeat: repeat-y;
    background-size: 98%;
}

.course-heading {
    width: content-box;
    border: 10px white solid;
    background-image: url("pic/background.png");
    margin: 30px 150px;
    padding: 20px 30px;
}
.m-p {
    margin-bottom: 80px;
}
#wrapper-m-1, #wrapper-m-2, #wrapper-m-3 {
    margin: 0 auto;
}



@media (max-width: 649px) and (min-width: 200px) {
    body {
        background-image: url("pic/bg-courses-mobile.png");
        background-repeat: repeat-y;
        background-size: 98%;
    }
    .m-p {
        margin: 0;
    }
    .course-heading {
        margin: 0 150px;
    }
    .course-heading-2 {
        margin-top: 50px;
    }
    .heading_margin-t {
        margin-top: 30px;
    }
    #go-back {
        top: 10px;
        left: 10px;
    }
    #button-courses {
        font-size: 16px;
    }
}