html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
}
body {
    background-color: #02181E;
    font-family: Roboto Slab, serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: white;
}
.fs-16{
    font-size: 16px;
  }
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-24{
    font-size: 24px;
}
.fs-30{
    font-size: 30px;
}
.fs-35{
    font-size: 35px;
}
.f-w-bold {
    font-weight: bold;
}
.b-pink {
    border: 3px solid #DB7997;
}
.b-white {
    border: 3px solid white;
}
.burger {
    display: none;
}
button {
    background-color: #02181E;
    font-weight: 300;
    color: #DB7997;
    border: none;
    padding: 20px 25px;
    letter-spacing: 0.15em;
    font-size: 20px;
}
.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
}
.photo-phone {
    display: none;
}
.t-a-l {
    text-align: left;
}
.d-f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: auto;
    height: auto;
}
nav a {
    margin-right: 40px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.15em;
}
.btn-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
a.effect {
    display: block;
    margin: auto;
    padding: 10px 5px;;
    text-decoration: none;
    color: white;
    font-family:"Roboto Slab", serif;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
    font-size: 20px;
}
a.effect:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}
a.effect:hover {
    color: #2D2D2D;
    transition: 2s;
}
a.effect:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}
.white-effect{
    transition: 1s;
}
.white-effect:hover {
    background-color: rgba(254, 254, 254, 0.7);
    color: black;
}
.white-effect:active {
    background-color: rgba(254, 254, 254, 1);
    color: black;
}
.cursor {
    cursor: pointer
}
.cosmic-photo {
    width: 400px;
    margin-right: 60px;
}
.btn-size {
    width: fit-content;
    margin: 0 auto;
}
.line {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 30px 0;
}
.p-desk {
    line-height: 200%;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}
.heading {
   text-align: center;
}
.heading-m {
    margin: 40px 0 70px 0;
}
.heading__width {
    width: 340px;
}
.heading__style {
    letter-spacing: 0.15em;
    font-weight: bold;
    color: #041F26;
    margin-top: -85px;
    margin-bottom: 65px;
}
.street-photo {
    width: 411px;
    height: 616px;
}
.m-l-r {
    margin: 0 45px 30px 45px;
}
.p-m-r {
    margin-right: 60px;
}
.back-triangle {
    background-image: url("pic/background.png");
}
.d-f-s {
    display: flex;
    justify-content: space-around;
}
.course {
    width: 380px;
    height: 380px;
    border: 20px white solid;
    background-image: url("pic/background.png");
    margin: 25px 20px 60px 20px;
    transition: 1s;
}
.course:hover {
    box-shadow:0 0 17px 7px rgba(214,184,187,0.57);
    -webkit-box-shadow:0 0 17px 7px rgba(214,184,187,0.57);
    -moz-box-shadow:0 0 17px 7px rgba(214,184,187,0.57);
}
.course:active {
    box-shadow:0 0 17px 7px rgba(214,184,187,1);
    -webkit-box-shadow:0 0 17px 7px rgba(214,184,187,1);
    -moz-box-shadow:0 0 17px 7px rgba(214,184,187,1);
}
div>a {
    text-decoration: none;
}
a>div>p {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    letter-spacing: 0.15em;
}
.btn-white {
    font-family: Roboto Slab, serif;
    color: white;
}
.b-white__m {
    margin-top: 40px;
    margin-bottom: 80px;
}
.m-photogallery {
    margin: 10px;
}
#w-photo {
    width: 221px;
}
.white-rectangle {
    background-color: white;
    background-image: url("pic/bg-brush.png");
    margin: 20px 40px;
    padding-top: 40px;
    background-size: cover;
}
.d-block {
    display: block;
}
.review-size {
    width: 230px;
}
.d-n-img {
    display: none;
}
.m-h3 {
    margin-top: 30px;
}
.btn-triangle {
    background-color: white;
}
h3 {
    color: #041F26;
    font-weight: 300;
    letter-spacing: 0.15em;
}
.social {
    margin: 30px 60px;
    background-size: contain;
    width: 80px;
    transition: 200ms ease-in-out;
}
.social:hover {
    width: 85px;
}
.height-block-social {
    height: 125px;
}
footer p {
    margin: 20px 0 40px 0;
}

@media (max-width: 950px) and (min-width: 650px){

    div>img:first-child {
        width: 230px;
    }
    .burger {
        display: inherit;
        margin-left: 80px;
    }
    .burger-menu {
        display: grid;
        font-size: 18px;
        z-index: 100;
        position: absolute;
        top: 140px;
        margin: 0 auto;
        background: #041F26;
        height: 425px;
        text-align: center;
        transition: 300ms ease-in;
    }
    .close-burger-menu {
        opacity: 0;
    }
    .p-absolut {
        position: absolute;
    }
    .position-photo {
        right: -200px;
        top: -10px;
    }
    .photo-phone {
        display: none;
    }
    .m-l-r {
        margin: 185px 265px 20px 0;
    }
    .fs-tablet-20 {
        font-size: 20px;
    }
    .heading__style {
        letter-spacing: 0.15em;
        font-weight: bold;
        color: #041F26;
        margin-top: -65px;
        margin-bottom: 65px;
        font-size: 18px;
    }
    .street-photo-tablet {
        height: 365px;
        margin: 0 10px 0 -20px;
    }
    .heading__style_courses {
        font-size: 14px;
    }
    .course {
        width: 250px;
        height: 250px;
        border: 10px white solid;
        background-image: url(pic/background.png);
        margin: 0 10px 45px 10px;
    }
    .d-n-t {
        display: none;
    }
    .social {
        width: 65px;
        transition: 200ms ease-in-out;
    }
    .social:hover {
        width: 70px;
    }
    footer p {
        font-size: 20px;
    }
}


@media (max-width: 649px) and (min-width: 200px) {
    .to-top {
        width: 40px;
    }
    div>img:first-child {
        width: 180px;
    }
    .burger {
        display: inherit;
        margin-left: 50px;
        width: 50px;
    }
    .burger-menu {
        display: grid;
        z-index: 100;
        position: absolute;
        top: 115px;
        margin: 0 auto;
        background: #041F26;
        font-size: 16px;
        height: 330px;
        transition: 300ms ease-in;
    }
    .close-burger-menu {
        opacity: 0;
    }
    .bg-burger {
        background-color:black;
    }
    nav a {
        margin: 0;
    }
    .d-n-p {
        display: none;
    }
    .photo-phone {
        float: left;
        width: 159px;
        display: flex;
    }
    .m-l-r {
        margin: 0 5px 30px 0;
    }
    .fs-phone-16 {
        font-size: 16px;
    }
    .fs-phone-18 {
        font-size: 18px;
    }
    button {
        padding: 15px 10px;
        font-size: 16px;
    }
    .d-b {
        display: block
    }
    .street-photo {
        width: auto;
        height: auto;
    }
    .heading__style {
        margin-top: -50px;
        font-size: 16px;
    }
    .p-m-r {
        margin: 10px 20px;
    }
    .heading__style_courses {
        font-size: 11px;
    }
    .course {
        width: 260px;
        height: 260px;
        border: 10px white solid;
        background-image: url(pic/background.png);
        margin:0 0 20px 0;
    }
    .d-b {
        display: block
    }
    .b-white__m {
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .d-n-p {
        display: none
    }
    .white-rectangle {
        padding-top: 30px;
    }
    .size-triangle {
        width: 55px;
    }
    .social {
        margin: 0 30px;
        width: 50px;
        transition: 200ms ease-in-out;
    }
    .social:hover {
        width: 55px;
    }
    footer p {
        font-size: 16px;
        margin: 25px 0 30px 0;
    }
}
